body {
  background-color: rgb(241, 219, 146);
}
.container {
  border: solid 1px black;
  text-align: center;
  width: 100%;
}
.headingimage1 {
  width: 60px;
}
.headingimage2 {
  width: 80px;
}

.links {
  font-size: 18px;
  color: rgb(117, 93, 12);
  text-decoration: none;
  padding: 10px;
}
.links:hover {
  color: rgb(179, 152, 66);
}
